header {
    background-color: rgb(79, 79, 79);
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.blue, .green, .orchid {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}